* {
  box-sizing: border-box;
  /* border: 2px solid black; */
  /* margin: 4px; */
  text-align: center;
  font-family: "poppins";
  font-weight: bolder;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
#navbar {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px;
  padding-bottom: 2px;
  margin-top: -6px;
  position: fixed;
  width: 100%;
  background-color: white;
  /* border-bottom: 2px solid black; */
  box-shadow: 0px 2px 5px black;
  /* height: 70px; */
}
#logo {
  border: 2px solid gray;
  border-radius: 5px;
  margin: 0;
  /* margin-left: 15px; */
  padding: 0;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* max-width: max-content;
  padding: 6px 35px;
  font-size: 25px;
  font-weight: 1000;
  text-align: left;
  padding-left: 3px;
  height: 30px; */
}
#logo > img {
  height: 50px;
  width: auto;
  margin: 0;
  padding: 0;
}
#links {
  font-size: 20px;
  /* width: 45%; */
  max-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* padding: 10px 0; */
}
.internal-link {
  width: 33.33%;
  padding: 15px 30px;
}
#links > a {
  border-radius: 10px;
}
#links > a:hover {
  background-color: rgb(224, 224, 224);
}
#page-1 {
  width: 100%;
  height: 100vh;
  background-image: url("../architect/images/homepage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  border: none;
}
#page-2 {
  display: flex;
  flex-flow: column wrap;
  /* height: 100vh; temporary */
  margin-top: 20px;
  /* justify-content: space-around; */
}
#p2-project-heading {
  text-align: left;
  font-size: 30px;
  margin: 15px 20px;
}
#housing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
#housing > div {
  width: 25%;
  height: fit-content;
  margin: 10px;
  /* box-shadow: 2px 2px 5px black; */
  border-radius: 5px;
  /*executes when mouse not hovered over the cards*/
  transform: scale(1);
  transition: 0.5s;
}
#housing > div:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
#housing > div > p {
  box-shadow: 2px 2px 5px black;
  background-color: black;
  color: white;
  font-weight: 1000;
  margin: 0;
  padding: 7px 0;
  border-radius: 5px 5px 0 0;
  /* float: left; */
}
#housing > div > img {
  box-shadow: 2px 2px 5px black;
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
}
#office-space-heading {
  text-align: left;
  font-size: 30px;
  margin: 15px 10px;
}
#office-space {
  /* width: 100%; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#office-space > div {
  /* width: 20%; */
  width: auto;
  /* border: 2px solid black; */
  margin: 10px;
}
#office-space > div > img {
  width: 100%;
  height: auto;
  /* max-height: inherit; */
  border-radius: 0 0 5px 5px;
}
#office-space > div > p {
  background-color: black;
  color: white;
  font-weight: 1000;
  margin: 0;
  padding: 13px 0;
  font-size: 19px;
  border-radius: 5px 5px 0 0;
}
#page-3 > p {
  font-size: 30px;
  margin: 10px 15px;
  text-align: left;
}
hr {
  z-index: -1;
  background-color: gray;
  /* width: 80%; */
  margin: 0px 15px;
  height: 1px;
  opacity: 0.3;
}
#page-3 > article {
  margin: 10px 15px;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}
#contact-page {
  display: flex;
  flex-direction: column;
}
#contact-page > p {
  font-size: 30px;
  margin: 15px 15px;
  text-align: left;
}
#members {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 15px auto;
}
#members > div {
  margin: 20px auto;
  width: 23.5%;
  /* border: 2px solid black; */
}
#members > div > img {
  width: 100%;
  height: auto;
  position: center;
  margin: 0;
  border-radius: 5px 5px 0 0;
}
#member-desig {
  /* border: 2px solid black; */
  background-color: aquamarine;
  font-size: 19px;
  padding: 10px;
  margin: -4px 0 10px 0;
  border-radius: 0 0 5px 5px;
  /* margin-top: -4px; */
}
#contact-member-button {
  font-size: 21px;
  padding: 10px;
  margin: auto;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
  cursor: pointer;
  /* max-width: 120px; */
}
#contact-member-button:hover{
  background-color:rgb(198, 197, 197) ;
}
#contact-us-heading {
  font-size: 30px;
  margin: 15px 15px;
  text-align: left;
}
#contact-us-desc {
  font-size: 19px;
  margin: 15px 15px;
  text-align: left;
}
form {
  margin: 0 10px;
  text-align: left;
}
form > label > input {
  font-size: 17px;
  margin: 10px 0;
  width: 50%;
  padding: 10px;
  text-align: left;
}
#send-msg-btn {
  font-size: 20px;
  /* border: 2px solid black; */
  padding: 10px 25px;
  margin-top: 10px;
  max-width: max-content;
  color: white;
  background-color: black;
  border-radius: 5px;
}
#send-msg-btn:hover {
  background-color:rgb(198, 197, 197) ;
  color: black;
  /* font-weight: bolder; */
}
#page-5 > p {
  font-size: 25px;
  text-align: left;
  margin: 35px 10px -5px 10px;
}
#page-5 > div {
  margin: 10px 10px 30px 10px;
}
#page-5 > div > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
footer {
  /* height: 100px; */
  background-color: black;
  color: white;
  margin: -20px 0;
}
footer > p {
  padding: 50px 10px;
}

/*Logo for the landing home-page*/
#landing-page-logo {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  /* border: 2px solid red; */
  /* background-color: white; */
  margin: auto;
  float: left;
  margin-top: 65vh;
  margin-left: 40vw;
  /* opacity: 0.4; */
  border-radius: 5px;
}
#box-1 {
  width: fit-content;
}
#box-1 > img {
  border-radius: 5px;
  opacity: 0.5;
  width: 87px;
  height: auto;
}
#box-2 {
  /* opacity: 1; */
  color: white;
  font-size: 26px;
  padding-left: 10px;
  padding-right: 5px;
  text-align: left;
  margin: 0;
  padding-top: 26px;
  font-weight: 900;
  /* opacity: 2; */
}

/*media queries - responsive web dev*/
@media (max-width: 768px) {
  form > label > input {
    width: 95%;
  }
}
@media (max-width: 716px) {
  #members > div {
    width: 40%;
  }
}
@media (max-width: 605px) {
  #housing > div {
    width: 45%;
  }
}
/*482px*/
@media (max-width: 522px) {
  #navbar {
    flex-direction: column;
  }
  #logo {
    border: red 2px solid;
    max-width: 100%;
  }
  #links {
    max-width: 100%;
    flex-direction: column;
  }
  .internal-link {
    border-bottom: 2px solid gray;
    width: 100%;
    padding: 8px 30px;
  }
  #contact-link {
    border: none;
  }

  #landing-page-logo {
    margin-top: 70vh;
    margin-left: 26vw;
    margin-right: 26vw;
  }

  #housing > div {
    width: 40%;
  }
  /* #office-space > div {
    width: 100%;
  } */
  #page-3 > article {
    line-height: 25px;
    text-align: justify;
    /* margin: 10px 30px; */
  }
  /* #page-3 > p,
  #page-3 > hr {
    margin-left: 30px;
  } */
}
@media (max-width: 421px) {
  #members > div {
    width: 65%;
  }
  form > label > input {
    width: 100%;
  }
}
/* @media (max-width: 320px) {
   #office-space > div {
    width: 100%;
  } 
} */
