* {
  box-sizing: border-box;
  /* border: 2px solid black; */
  /* margin: 4px; */
  text-align: center;
  font-family: 'poppins';
  font-weight: bolder;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
#navbar {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px;
  margin-top: -6px;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid black;
}
#logo {
  max-width: max-content;
  padding: 10px 35px;
}
#links {
  font-size: 18px;
  /* width: 45%; */
  max-width: max-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.internal-link {
  width: 33.33%;
  padding: 10px 30px;
}
#page-1 {
  width: 100%;
  height: 100vh;
  background-image: url("../p9/images/homepage.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  border: none;
}
#page-2 {
  display: flex;
  flex-flow: column wrap;
  /* height: 100vh; temporary */
  margin-top: 20px;
  /* justify-content: space-around; */
}
#housing {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  /* border: 2px solid red; */
  /* height: 50vh;temporary */
}
#housing > div {
  width: 25%;
  /* border: 2px solid black; */
  margin: 10px;
  /* border-radius: 5px; */
}
#housing > div > p {
  background-color: black;
  color: white;
  font-weight: 1000;
  margin: 0;
  padding: 7px 0;
  border-radius: 5px 5px 0 0;
  /* float: left; */
}
#housing > div > img {
  width: 100%;
  height: auto;
  border-radius: 0 0 5px 5px;
}
#office-space {
  /* width: 100%; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
#office-space > div {
  /* width: 20%; */
  width: auto;
  /* border: 2px solid black; */
  margin: 10px;
}
#office-space > div > img {
  width: 100%;
  height: auto;
  /* max-height: inherit; */
  border-radius: 0 0 5px 5px;
}
#office-space > div > p {
  background-color: black;
  color: white;
  font-weight: 1000;
  margin: 0;
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}
#page-3 > p {
  font-size: 30px;
  margin: 10px 15px;
  text-align: left;
}
hr {
  z-index: -1;
  background-color: gray;
  /* width: 80%; */
  margin: 0px 15px;
  height: 1px;
  opacity: 0.3;
}
#page-3 > article {
  margin: 10px 15px;
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}
#contact-page {
  display: flex;
  flex-direction: column;
}
#contact-page > p {
  font-size: 30px;
  margin: 15px 15px;
  text-align: left;
}
#members {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 15px auto;
}
#members > div {
  margin: 20px auto;
  width: 23.5%;
  /* border: 2px solid black; */
}
#members > div > img {
  width: 100%;
  height: auto;
  position: center;
  margin: 0;
  border-radius: 5px 5px 0 0;
}
#member-desig {
  /* border: 2px solid black; */
  background-color: aquamarine;
  font-size: 19px;
  padding: 10px;
  margin: -4px 0 10px 0;
  border-radius: 0 0 5px 5px;
  /* margin-top: -4px; */
}
#contact-member-button {
  font-size: 21px;
  padding: 10px;
  margin: auto;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
  /* max-width: 120px; */
}
#contact-us-heading {
  font-size: 30px;
  margin: 15px 15px;
  text-align: left;
}
#contact-us-desc {
  font-size: 19px;
  margin: 15px 15px;
  text-align: left;
}
form {
  margin: 0 10px;
  text-align: left;
}
form > label > input {
  font-size: 17px;
  margin: 10px 0;
  width: 50%;
  padding: 10px;
  text-align: left;
}
#send-msg-btn {
  font-size: 20px;
  /* border: 2px solid black; */
  padding: 10px 25px;
  margin-top: 10px;
  max-width: max-content;
  color: white;
  background-color: black;
  border-radius: 5px;
}
#send-msg-btn:hover {
  background-color: rgb(169, 168, 168);
  color: black;
  /* font-weight: bolder; */
}
#page-5>div{
  margin: 30px 10px;
}
#page-5 > div > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
footer{
  /* height: 100px; */
  background-color: black;
  color: white;
  margin: -20px 0;
}
footer>p{
  padding: 50px 10px;
}
/*media queries - responsive web dev*/
@media (max-width: 768px) {
  form > label > input {
    width: 95%;
  }
}
@media (max-width: 716px) {
  #members > div {
    width: 40%;
  }
}
@media (max-width: 605px) {
  #housing > div {
    width: 45%;
  }
  /* #office-space > div {
    width: 100%;
  } */
}
/*482px*/
@media (max-width: 522px) {
  #navbar {
    flex-direction: column;
  }
  #logo {
    max-width: 100%;
  }
  #links {
    max-width: 100%;
    flex-direction: column;
  }
  .internal-link {
    width: 100%;
  }
  #housing > div {
    width: 40%;
  }
  /* #office-space > div {
    width: 100%;
  } */
  #page-3 > article {
    line-height: 25px;
    text-align: justify;
    /* margin: 10px 30px; */
  }
  /* #page-3 > p,
  #page-3 > hr {
    margin-left: 30px;
  } */
}
@media (max-width: 421px) {
  #members > div {
    width: 65%;
  }
  form > label > input {
    width: 100%;
  }
}
/* @media (max-width: 320px) {
   #office-space > div {
    width: 100%;
  } 
} */
